.App {
  text-align: center;
  margin-top: 100px;
}

.btn{
  margin-left: 1rem;
  background-color: #271c6c;
  color: #e1ebfd;
  border-radius: 5px;
  border: 2px solid #e1ebfd;
  font-size: 1.5rem;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  box-shadow: 2px 4px 10px #2eca36;
}
.btn:hover{
  background-color: rgb(0, 0, 0);
}

#punbox{
  color: #2eca36;
}
#linebox{
  color: #08a1e7;
}
.bookbtn{
  margin-left: 1rem;
  background-color: #271c6c;
  color: #e1ebfd;
  border-radius: 5px;
  border: 2px solid #e1ebfd;
  font-size: 1.1rem;
  width: 13rem;
  height: 3rem;
  cursor: pointer;
  box-shadow: 2px 4px 10px #2eca36;
}

